.content-text{
    border: solid 1px black;
    border-radius: 10px;
    /*height:150px;*/
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
    /*margin-bottom: 20px;*/
    /*margin-right: 20px;*/
    margin: 20px;
}
.result{
    border: solid 2px dodgerblue;

}
tr{
    cursor: pointer;
    background: #b8d1f3;
    width: 100%;
}

tr:nth-child(odd){
    background: #b8d1f3;
}
tr:nth-child(even){
    background: #dae5f4;
}
tr:first-child{
    background: #FFF;

}
.textarea{
    height: 80%;
    width: 100%;
}
.hide{
    visibility: hidden;
}