*{
    margin:0;
    padding:0;
}
body,html{ width: 100%; height: 100%;margin:0; }

h2{
    margin-top:30px;
    font-size: 4vw;
}
h3{
    margin-top:30px;
    font-size: 2.6vw;
}

h4{
    margin-top:30px;
    font-size: 2.5vw;
}

.row0{
    height:40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row3{

    margin-top: 10px;
}

.btn{
    font-size:1.3vw;
}
/*span{
    font-size: 2vw;
}*/

.notifications,.commits,.files,.file_content{
    border: solid 1px black;
    border-radius: 10px;
    height:150px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
    margin-bottom: 20px;
}

.content{
    margin-left:20px;
}
li{
    font-size: 1.3vw;
    /*margin-left:20px;*/
}

table{
    font-size: 1vw;
}

#remote_repo{
    margin-top:30px;
}

.commits-tr{
    cursor: pointer;
}

#collaborateDiv{
    border:3px solid black;
    height : 200px;
    width : 400px;
}

#colla_div{
    border:1px solid fuchsia;
    float: top;
}

#pull_div{
    border:1px solid yellow;
    display: inline;
}
#push_div{
    border:1px solid yellow;
    display: inline;
}

#remote_repo{
    border: 2px solid brown;
    display: inline;
    height : 200px;
    width : 400px;
}
.fa{
    font-size: 1.5vw;
}

.li-file,.li-folder{
    cursor: pointer;
}

#content{
    min-height:150px;
    width: 100%;
    resize: none;
    /*overflow:scroll;*/
    /*overflow-x:hidden;*/
    /*overflow-y:auto;*/
}
