*{
    margin:0;
    padding:0;
}
body,html{ width: 100%; height: 100%;margin:0; }

h2{
    margin-top:30px;
    font-size: 4vw;
}
h3{
    margin-top:30px;
    font-size: 2.6vw;
}

h4{
    margin-top:30px;
    font-size: 2.5vw;
}

.row0{
    height:40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.row3{

    margin-top: 10px;
}

.btn{
    font-size:1.3vw;
}
/*span{
    font-size: 2vw;
}*/

.notifications,.commits,.files,.file_content{
    border: solid 1px black;
    border-radius: 10px;
    height:150px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:auto;
    margin-bottom: 20px;
}

.content{
    margin-left:20px;
}
li{
    font-size: 1.3vw;
    /*margin-left:20px;*/
}

table{
    font-size: 1vw;
}

#remote_repo{
    margin-top:30px;
}

.commits-tr{
    cursor: pointer;
}


#collaborateDiv{
    height : 200px;
    width : 400px;
}

#colla_div{
    float: top;
}

#pull_div{
    display: inline;
}
#push_div{
    display: inline;
}

#pull_request_div{
    display: inline;
}

#remote_repo{
    display: inline;
    height : 200px;
    width : 400px;
}
.fa{
    font-size: 1.5vw;
}

.li-file,.li-folder{
    cursor: pointer;
}

#content{
    min-height:150px;
    width: 100%;
    resize: none;
}

.newbtn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 10% 15%;
    cursor: pointer;
    border-radius: 10%;
    margin-top: 7%;
}
.newbtn:hover {
    background-color: RoyalBlue;
}


.wc-buttons{
    font-size: 2vw;
}
.btn_save{
    width: 100%;
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}

/*.item-selected{*/
    /*color:#999;*/
/*}*/

/*.li-not-item-selected{*/
    /*color:#222;*/
/*}*/

